* {
    font-family: 'M PLUS Rounded 1c', Avenir Next, Helvetica, sans-serif;
    color: white;
}

body {
    background: #4d3862;
}

.wrapper {
    width: 360px;
    height: 250px;
    color: white;
    background: #272639;
    border-radius: 1rem;
    padding: 25px;
    margin: 100px auto;
    text-align: center;

}

.buttons {
    display: flex;
    gap: 20px;
}


.rpsButton {
    border: 4px solid #ffffff;
    background: #000000;
    /*padding: 2px 30px;*/
    width: 100px;
    height: 100px;
    margin: 5px;
    font-size: 45px;
    cursor: pointer;



    border-radius: 20px;

}




#clear {
    border: 4px solid #ffffff;
    background: #000000;
    /*padding: 2px 30px;*/
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 5px;
    font-size: 45px;
    cursor: pointer;
    border-radius: 20px;
}

#clear:hover {

    border: 4px solid #f30a0a;
    color: #f5e9e9;
}

.result-container {
    text-align: center;
    margin-top: 20px;
}